<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica Vue Js</title>
  </head>
  <body>
    <div id="app">
      {{name}}

      <input type="text" v-model="newTask.title" />
      <input type="text" v-model="newTask.time" />
      {{ newTask.title }} {{ newTask.time }}

      <button @click="addTask">Enviar</button>

      <div v-if="tasks.length">
        <ul>
          <li v-for="(task,index) in tasks" :key="index">
            nombre {{ task.title }} - tiempo {{ task.time }}
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./main2.js"></script>
  </body>
</html>
